

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
    /* overflow-x: hidden;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; */
}

@font-face {
    font-family: "Roboto";
    font-weight: normal;
    font-style: normal;
    src: url(fonts/ROBOTO-REGULAR.TTF);
}

@font-face {
    font-family: "Roboto";
    font-weight: normal;
    font-style: italic;
    src: url(fonts/ROBOTO-ITALIC.TTF);
}

@font-face {
    font-family: "Roboto";
    font-weight: 100;
    font-style: normal;
    src: url(fonts/ROBOTO-THIN.TTF);
}

@font-face {
    font-family: "Roboto";
    font-weight: 100;
    font-style: italic;
    src: url(fonts/ROBOTO-THINITALIC.TTF);
}

@font-face {
    font-family: "Roboto";
    font-weight: 300;
    font-style: normal;
    src: url(fonts/ROBOTO-LIGHT.TTF);
}

@font-face {
    font-family: "Roboto";
    font-weight: 300;
    font-style: italic;
    src: url(fonts/ROBOTO-LIGHTITALIC.TTF);
}

@font-face {
    font-family: "Roboto";
    font-weight: 500;
    font-style: normal;
    src: url(fonts/ROBOTO-MEDIUM.TTF);
}

@font-face {
    font-family: "Roboto";
    font-weight: 500;
    font-style: italic;
    src: url(fonts/ROBOTO-MEDIUMITALIC.TTF);
}

@font-face {
    font-family: "Roboto";
    font-weight: 700;
    font-style: normal;
    src: url(fonts/ROBOTO-BOLD.TTF);
}

@font-face {
    font-family: "Roboto";
    font-weight: 700;
    font-style: italic;
    src: url(fonts/ROBOTO-BOLDITALIC.TTF);
}

@font-face {
    font-family: "Roboto";
    font-weight: 900;
    font-style: normal;
    src: url(fonts/ROBOTO-BLACK.TTF);
}

@font-face {
    font-family: "Roboto";
    font-weight: 900;
    font-style: italic;
    src: url(fonts/ROBOTO-BLACKITALIC.TTF);
}

.container {
    padding-right: 30px;
    padding-left: 30px;
}

/* .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color: #ED1951;
    color: white;
}

.nav > li.active > a {
    background-color: #ED1951;
}

.nav > li > a:hover {
    background-color: #ED1951;
}

div.navbar-collapse .dropdown-menu > li > a:hover {
    background-color: #ED1951;
} */

.nav li.thirdlevel > a {
    background-color: #FAFAFA !important;
    color: #248EC2;
    font-weight: bold;
}

a[data-toggle="tooltip"] {
    color: #649345;
    font-style: italic;
    cursor: default;
}

.navbar {
    min-height: 100px;
    margin-bottom: 0px;
}

.nav.navbar-nav.navbar-right {
    margin-top: 48px;
    height: 35px;
}

.navbar .navbar-nav>li>a, .navbar .navbar-brand {
    color: #0077D4;
    background-color: transparent;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 11px;
    text-transform: uppercase;
    padding-top: 20px;
    padding-left: 0px;
    /* padding-bottom: 60px; */
    padding-right: 0px;
    margin-left: 20px;
}
.navbar .navbar-nav>li>a, .navbar .navbar-brand {
    color: #0077D4;
}
.navbar.navbar-inverted .navbar-nav>li>a, .navbar .navbar-brand {
    color: white;
}

.navbar .navbar-nav>li>a:hover, a.fa.fa-home.fa-lg.navbar-brand:hover {
     color: #0077D4;
}
.navbar.navbar-inverted .navbar-nav>li>a:hover, a.fa.fa-home.fa-lg.navbar-brand:hover {
    color: white;
}

a.navbar-brand:hover {
  color: #f0f0f0;
}

/* .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #0077D4;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #0077D4;
} */

/* .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #248ec2 !important;
} */

.navbar .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #0077D4;
    border-radius: 0px;
    border-bottom: 1px solid #0077D4;
}

.btn-primary {
    color: #ffffff;
    background-color: #ED1951;
    border-color: #ED1951;
}

/* .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background-color: #ED1951;
} */

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-color: #248ec2;
    border-color: #347DBE;
}

.printTitle {
    color: #015CAE !important;
}

body.print h1 {color: #015CAE !important; font-size:28px !important;}
body.print h2 {color: #595959 !important; font-size:20px !important;}
body.print h3 {color: #E50E51 !important; font-size:14px !important;}
body.print h4 {color: #679DCE !important; font-size:14px; font-style: italic !important;}

.anchorjs-link:hover {
    color: #216f9b;
}

div.sidebarTitle {
    color: #015CAE;
}

li.sidebarTitle {
  margin-top:20px;
    font-weight:normal;
    font-size:130%;
    color: #ED1951;
    margin-bottom:10px;
    margin-left: 5px;

}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #015CAE;
}

.navbar-inverse .navbar-toggle {
    border-color: #015CAE;
}







body {
    font-size: 16px;
    font-family: "Roboto", system-ui, -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.h1, h1 {
    color: #323232;
    font-family: Roboto;
    font-size: 50px;
    font-weight: 300;
    line-height: 54px;
}

.h2, h2 {
    color: #1B1B1B;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.6px;
    line-height: 33px;
}

h3, .h3 {
    color: #0077D4;
    font-family: Roboto;
    font-size: 31px;
    font-weight: 300;
    line-height: 54px;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 100px;
}

h4, .h4 {
    color: #808080; 
}

h5, .h5 {
    padding-top: 0px !important;
    margin-top: 10px !important;
    margin-bottom: 10px;
    font-size: 16px !important;
    font-weight: 600;
}

.toplogo {
    width: 155px; height: 53px; margin-top: 70px; margin-bottom: 11px
}
@media (max-width: 767px) {
    .toplogo {
        margin-left: 12px;
    }
}


#toc {
    margin-bottom: 40px;
}

.post-content {
    /* max-width: 736px; */

    color: #1B1B1B;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0.6px;
    line-height: 33px;
}

.post-content p > img {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: auto;
    display: block;
}

p {
    margin: 0 0 40px;
}
li p {
    margin: 0 0 10px;
}


.panel-heading .fa.text-primary {
    color: #ED1951;
}

.btn.btn-primary {
    background-color: #ED1951;
    border-color: #ED1951;
}

table {
    font-size: 15px;
}

table strong {
    font-weight: 600;
}

nav.navbar {
    background-color: transparent;
    border-color: transparent;
}

.post-content table > tbody > tr > td:first-child {
    min-width: 160px;
}

/* .nav li a {
    font-size: 14px;
    padding: 10px 10px;
    background-color: #f1f1f1;
    border-radius: 6px;
    margin-bottom: 4px;
} */

.nav > li.active > a {
    background-color: transparent !important;
    border-bottom: 1px #0077D4;
}

/* li.active > a {
    background-color: #888;
} */

/* .navbar-header {
    padding-left: 10px;
} */

/* .section-link a {
    height: 35px;
} */

#main {
    margin-top: 45px;
}

.guidelines-nav {
    position: absolute;
    top: 0px;
    right: 0px;
}

#header-background-image-container {
    position: absolute;
    width: 100%;
    height: 766px;
}

@media (max-width: 991px) {
    .nav.navbar-nav.navbar-right {
        display: none !important;
    }
}

#header-background-image {
    margin-left: auto;
    margin-right: auto;
    width: 100%; /* 1366px; */
    height: 100%;
    background-position: center;
    background-size: cover;
}

.toc-panel {
    display: none; /* initially */
    position: absolute;
    z-index: 999;
    width: 1110px;
    height: 422px;
    background-color: white;
    -webkit-box-shadow: 0px 30px 70px -22px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 30px 70px -22px rgba(0,0,0,0.75);
    box-shadow: 0px 30px 70px -22px rgba(0,0,0,0.75);
}

.toc-section {
    display: none; /* initially */
    width: 100%;
    height: 100%;
    padding: 84px 20px 20px 60px;
}

.toc-section-title {
    position: relative;
    display: inline-block;
    width: 28%;
    color: #0077D4;
    font-family: Roboto;
    font-size: 27px;
    font-weight: 300;
    line-height: 31px;
}

.toc-section-overview {
    position: absolute;
    left: 55px;
    bottom: 55px;
    border: 1px solid #0077D4;

    color: #0077D4;
    font-family: Roboto;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 2.2px;
    line-height: 13px;
    padding: 29px 53px 29px 53px;
}
.toc-section-overview:hover {
    text-decoration: none;
}

.toc-section ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    float: right;
    /* right: 0px;
    top: 0px; */
    width: 580px;
    height: 100%;
    padding-left: 0px;
    /* padding-top: 84px;
    padding-right: 25px; */
}

.toc-section ul li {
    display: block;
    /*position: inline;*/
    width: 247px;
    height: 100px;
    background-color: white;
    border-top: 1px solid #CCCACA;
    padding: 13px;
    cursor: pointer;
}

.toc-section ul li span.step {
    color: #0077D4;
    font-family: Roboto;
    font-size: 16px;
    line-height: 21px;
    float: left;
    height: 100%;
    margin-right: 10px;
}

.toc-section ul li.active {
    background-color: #F8F8F8;
}

.toc-section ul li a {
    color: black;
    
    font-family: Roboto;
    font-size: 15px;
    letter-spacing: 0.25px;
    line-height: 20px;
}

.toc-section ul li:hover {
    background-color: #F0F0F0;
    text-decoration: none;
}

.toc-section ul li a:hover {
    text-decoration: none;
}


.post-header.post-header-with-background {
    height: 700px;
}

.post-title-step {
    height: 54px;
    width: 98px;
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 38px;
    line-height: 54px;
}

.post-title-section {
    height: 13px;
    width: 468px;
    color: #4A4A4A;
    font-family: Roboto;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 5.93px;
    line-height: 13px;
    text-transform: uppercase;
}
.post-header.post-header-with-background .post-title-section {
    color: #4299FF;
}

.post-title-main {
    height: 315px;
    /* width: 1075px; */
    color: #0077D4;
    font-family: Roboto;
    font-size: 85px;
    font-weight: 300;
    line-height: 95px;
}
@media (max-width: 991px) {
    .post-title-main {
        hyphens: auto;
        -ms-hyphens: auto;
        -webkit-hyphens: auto;
        font-size: 45px;
        line-height: 50px;
    }
}

.post-header.post-header-with-background .post-title-main {
    color: #FFFFFF;
}

.summary {
    max-width: 840px;
    color: #4A4A4A;
    font-family: Roboto;
    font-size: 17px;
    font-weight: 300;
    letter-spacing: 0.21px;
    line-height: 27px;
    margin-top: 25px;
    margin-bottom: 40px;
}
.summary.post-header-with-background {
    max-width: 100%;
    color: #323232;
    font-family: Roboto;
    font-size: 21px;
    font-weight: 400;
    line-height: 41px;
    margin-top: 0px;
    margin-bottom: 80px;
}

p.next-step {
    margin: 32px 0 16px 0;
    text-align: right;
}
.next-step-btn {
    display: inline-block;
    background-color: #3F3F3F;
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 2.2px;
    line-height: 13px;
    text-transform: uppercase;
    padding-left: 65px;
    padding-right: 65px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 80px;
}
.post-header-with-background .next-step-btn {
    background-color: transparent;
    text-align: left;
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 19.5px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 22px;
    text-transform: none;
    width: 240px;
    /* height: 44px; */
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.post-header-with-background .next-step-label {
    position: absolute;
    transform: translateY(-16px);
    height: 13px;
    width: 55px;
    color: #FFEF23;
    font-family: Roboto;
    font-size: 8.5px;
    font-weight: bold;
    letter-spacing: 4.58px;
    line-height: 10px;
    text-align: left;
    text-transform: uppercase;
}
.post-header-with-background .next-step-btn span.next-step-number {
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 17.5px;
    font-weight: normal;
    line-height: 24px;
    float: left;
    height: 100px;
}

.next-step-btn:hover {
    color: white;
    text-decoration: none;
}

.scroll-widget {
    position: absolute;
    cursor: pointer;
    right: 0px;
    height: 123px;
    width: 278px;
    background-color: #F9F9F9;
    box-shadow: 0 22px 44px 0;
}

.scroll-widget-label {
    position: absolute;
    top: 59px;
    left: 60px;
    color: #0077D4;
    font-family: Roboto;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 11px;
    text-transform: uppercase;
}

.scroll-widget-gauge {
    position: absolute;
    display: block;
    top: 24px;
    left: 150px;
    width: 80px;
    height: 80px;
    padding: 10px;
}

.scroll-widget-chevron {
    position: absolute;
    display: block;
    top: 56px;
    left: 182px;
    color: #0077D4;
    font-size: 16px;
    line-height: 1;
}

.gauge-container > .gauge > .dial {
    stroke: #eee;
    stroke-width: 4;
    fill: rgba(0,0,0,0);
}
.gauge-container > .gauge > .value {
    stroke: #096fc0;
    stroke-width: 4;
    fill: rgba(0,0,0,0);
}
.gauge-container > .gauge > .value-text {
    fill: #096fc0;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1em;
}

.scroll-widget-line {
    position: fixed;
    z-index: 9999;
    display: none;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 4px;
    background-color: white;
}
.scroll-widget-line-value {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0%;
    height: 100%;
    background-color: #096fc0;
}

@media (max-width: 992px) {
    .post-content p {
        font-size: 18px;
        font-weight: 300;
        letter-spacing: 0.54px;
        line-height: 30px;
    }
}
@media (min-width: 993px) {
    .col-md-8 .post-content h1 {
        position: absolute;
        margin-top: 0px;
        padding-top: 0px;
        left: 0px;
        display: block;
        max-width: 300px;
        transform: translate(-310px);
    }
}
@media (min-width: 1200px) {
    .col-md-8 .post-content h1 {
        max-width: 350px;
        transform: translate(-376px);
    }
}


footer {
    position: relative;
    color: #A4A4A4;
    font-family: Roboto;
    font-size: 11px;
    letter-spacing: 1.43px;
    line-height: 13px;
    background-color: #353535;
    color: #A4A4A4;
    padding: 40px;
}

.footer-title {
    color: #0077D4;
    font-family: Roboto;
    font-size: 27px;
    font-weight: 300;
    line-height: 31px;
    margin-bottom: 38px;
}

footer ul {
    margin-left: 0px;
    margin-bottom: 60px;
    padding-left: 0px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 2.8px;
    line-height: 39px;
}
footer li.section-link {
    text-transform: uppercase;
    list-style-type: none;
}
footer li.section-link a:hover {
    text-decoration: none;
    color: inherit;
}

.footer-text {
    margin-bottom: 40px;
}

.footer-sections {
    text-transform: uppercase;
}

.footer-partners {
    font-size: 9px;
    text-transform: uppercase;
}
.footer-partners img {
    max-width: 100%;
}

@media (min-width: 992px) {
    footer {
        min-height: 484px;
        padding: 70px;
    }
    .footer-title {
        position: absolute;
        max-width: 28%
    }
    .footer-sections {
        position: absolute;
        max-width: 72%;
        right: 0px;
        margin-right: 70px;
    }
    .footer-sections p {
        display: none;
    }
    footer li.section-link {
        float: left;
        font-size: 10px;
        margin-left: 15px
    }
    .footer-text {
        position: absolute;
        max-width: 28%;
        bottom: 0px;
        margin-bottom: 50px;
    }
    .footer-partners {
        position: absolute;
        max-width: 72%;
        right: 0px;
        bottom: 0px;
        margin-bottom: 50px;
        margin-right: 70px;
    }
}

.linkbox {
    position: relative;
    padding-left: 85px;
    padding-right: 85px;
    padding-top: 46px;
    padding-bottom: 46px;
    margin-bottom: 82px;
    font-family: Roboto;
    cursor: pointer;
    background-position: center;
    background-size: cover;
}

.linkbox-wrapper {
    margin-bottom: 82px;
}
.linkbox-wrapper .linkbox {
    margin-top: 0px;
    margin-bottom: 0px;
}
.linkbox-img {
    height: 375px;
    background-position: center;
    background-size: cover;
}
@media (max-width: 992px) {
    .linkbox-img {
        margin-left: -30px;
        margin-right: -30px;
    }
}
@media (min-width: 993px) {
    .linkbox-wrapper {
        display: table;
    }
    .linkbox-img {
        display: table-cell;
        width: 50%;
        height: 100%;
    }
    .linkbox-wrapper .linkbox {
        display: table-cell;
        width: 50%;
        height: 100%;
    }
}

.linkbox .linkbox-field-step {
    font-size: 35px;
    line-height: 54px;
    color: white;
    margin-bottom: 61px;
}
.linkbox .linkbox-field-eye {
    color: rgba(255,255,255,0.6);
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 5.93px;
    line-height: 13px;
    text-transform: uppercase;
    margin-bottom: 8px;
}
.linkbox .linkbox-field-title {
    color: #FFFFFF;
    font-size: 51px;
    font-weight: 300;
    line-height: 54px;
    max-width: 600px;
    margin-bottom: 26px;
}
.linkbox .linkbox-field-subtitle {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.3px;
    line-height: 27px;
    max-width: 600px;
    margin-bottom: 54px;
}

.linkbox img {
    margin: 0;
}
.linkbox .linkbox-btn-arrow {
    position: absolute;
    top: calc(50% - 57px);
    right: 85px;
}
.linkbox .linkbox-btn-label {
    color: #FFFFFF;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 2.2px;
    line-height: 13px;
    margin: 0px 0px 0px 6px;
    text-transform: uppercase;
}

.linkbox.linkbox-gotoguidelines .next-step-btn {
    background-color: #4299FF;
    margin-bottom: 0px;
}
.linkbox.linkbox-gotoguidelines .linkbox-gotoguidelines-arrow {
    position: absolute;
    right: 85px;
    bottom: 60px;
}

@media (min-width: 993px) {
    .col-md-8 .linkbox {
        width: 940px;
        float: right;
    }
}
@media (min-width: 1200px) {
    .col-md-8 .linkbox {
        width: 1110px;
    }
}
@media (max-width: 992px) {
    .linkbox {
        margin-left : -30px;
        margin-right : -30px;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 64px;
        padding-bottom: 64px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .linkbox .linkbox-field-step {
        margin-bottom: 10px;
    }
    .linkbox .linkbox-field-title {
        font-size: 34px;
        font-weight: 300;
        line-height: 40px;
        margin-bottom: 70px;
    }
    .linkbox .linkbox-field-subtitle {
        font-size: 16px;
        font-weight: 300;
        letter-spacing: 0.3px;
        line-height: 27px;
    }
    .linkbox .linkbox-btn-arrow {
        top: calc(50% - 32px);
        right: 30px;
        height: 64px;
    }
    .linkbox.linkbox-gotoguidelines .next-step-btn,
    .linkbox.linkbox-gotoguidelines .linkbox-btn {
        width: 100%;
        text-align: center;
    }
    .linkbox.linkbox-gotoguidelines .linkbox-gotoguidelines-arrow {
        position: static;
    }
}

@media (min-width: 993px) {
    .col-md-12 .linkbox.linkbox-half {
        float: left;
        width: calc(50% - 5px);
        margin-left: 10px;
    }
    .col-md-12 .linkbox.linkbox-half.linkbox-nomargin {
        margin-left: 0px;
    }
}

.linkbox.linkbox-vert {
    padding-top: 100px;
    padding-bottom: 100px;
}
.linkbox.linkbox-vert .linkbox-field-eye {
    color: rgba(0,0,0,0.6);
}

.resourcebox {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 40px;
    height: 115px;
    width: 350px;
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
}
@media (max-width: 1200px) {
    .resourcebox {
        width: 280px;
    }
}
@media (max-width: 650px) {
    .resourcebox {
        width: 100%;
        margin-top: 0px;
        margin-bottom: 0px;
    }
}

.resourcebox .resourcebox-icon {
    position: absolute;
    margin: 0;
    top: 37px;
    left: 26px;
    width: 37px;
    height: 37px;
}
.resourcebox .resourcebox-field-eye {
    position: absolute;
    top: 32px;
    left: 86px;
    width: 197px;
    height: 11px;
    color: #919090;
    font-family: Roboto;
    font-size: 9px;
    font-weight: bold;
    letter-spacing: 3.85px;
    line-height: 10px;
    text-transform: uppercase;
}
.resourcebox .resourcebox-field-title {
    position: absolute;
    top: 44px;
    left: 85px;
    width: 197px;
    height: 42px;
    color: #0077D4;
    font-family: Roboto;
    font-size: 17px;
    font-weight: 300;
    line-height: 19px;
}
.resourcebox .resourcebox-btn-plus {
    position: absolute;
    margin: 0;
    right: 17px;
    bottom: 17px;
    width: 20px;
    height: 20px;
}

.white {
    color: white;
}