
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
    /* overflow-x: hidden;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; */
}

@font-face {
    font-family: "Roboto";
    font-weight: normal;
    font-style: normal;
    src: url(fonts/ROBOTO-REGULAR.TTF);
}

@font-face {
    font-family: "Roboto";
    font-weight: normal;
    font-style: italic;
    src: url(fonts/ROBOTO-ITALIC.TTF);
}

@font-face {
    font-family: "Roboto";
    font-weight: 100;
    font-style: normal;
    src: url(fonts/ROBOTO-THIN.TTF);
}

@font-face {
    font-family: "Roboto";
    font-weight: 100;
    font-style: italic;
    src: url(fonts/ROBOTO-THINITALIC.TTF);
}

@font-face {
    font-family: "Roboto";
    font-weight: 300;
    font-style: normal;
    src: url(fonts/ROBOTO-LIGHT.TTF);
}

@font-face {
    font-family: "Roboto";
    font-weight: 300;
    font-style: italic;
    src: url(fonts/ROBOTO-LIGHTITALIC.TTF);
}

@font-face {
    font-family: "Roboto";
    font-weight: 500;
    font-style: normal;
    src: url(fonts/ROBOTO-MEDIUM.TTF);
}

@font-face {
    font-family: "Roboto";
    font-weight: 500;
    font-style: italic;
    src: url(fonts/ROBOTO-MEDIUMITALIC.TTF);
}

@font-face {
    font-family: "Roboto";
    font-weight: 700;
    font-style: normal;
    src: url(fonts/ROBOTO-BOLD.TTF);
}

@font-face {
    font-family: "Roboto";
    font-weight: 700;
    font-style: italic;
    src: url(fonts/ROBOTO-BOLDITALIC.TTF);
}

@font-face {
    font-family: "Roboto";
    font-weight: 900;
    font-style: normal;
    src: url(fonts/ROBOTO-BLACK.TTF);
}

@font-face {
    font-family: "Roboto";
    font-weight: 900;
    font-style: italic;
    src: url(fonts/ROBOTO-BLACKITALIC.TTF);
}

.container {
    padding-right: 30px;
    padding-left: 30px;
}
.layout-basic {
    background-image: linear-gradient(90deg, rgba(151, 151, 151, .16) 1px, transparent 1.1px, transparent);
    background-size: 200px 50px;
    background-position: 85px;
}
.layout-basic .container {
    min-height: 100%;
}


/* .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color: #ED1951;
    color: white;
}

.nav > li.active > a {
    background-color: #ED1951;
}

.nav > li > a:hover {
    background-color: #ED1951;
}

div.navbar-collapse .dropdown-menu > li > a:hover {
    background-color: #ED1951;
} */

.nav li.thirdlevel > a {
    background-color: #FAFAFA !important;
    color: #248EC2;
    font-weight: bold;
}

a[data-toggle="tooltip"] {
    color: #649345;
    font-style: italic;
    cursor: default;
}

.navbar {
    min-height: 100px;
    margin-bottom: 0px;
}

.nav.navbar-nav {
    margin-top: 48px;
    height: 35px;
}

.navbar .navbar-nav>li>a, .navbar .navbar-brand {
    color: #0077D4;
    background-color: transparent;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 11px;
    text-transform: uppercase;
    padding-top: 20px;
    padding-left: 0px;
    /* padding-bottom: 60px; */
    padding-right: 0px;
}
.navbar .navbar-nav.navbar-right>li>a {
    margin-left: 20px;
}
.navbar .navbar-nav.navbar-left>li>a {
    margin-right: 20px;
}

.navbar .navbar-nav>li>a, .navbar .navbar-brand {
    color: #0077D4;
}
.navbar.navbar-inverted .navbar-nav>li>a, .navbar .navbar-brand {
    color: white;
}

.navbar .navbar-nav>li>a:hover, a.fa.fa-home.fa-lg.navbar-brand:hover {
     color: #0077D4;
}
.navbar.navbar-inverted .navbar-nav>li>a:hover, a.fa.fa-home.fa-lg.navbar-brand:hover {
    color: white;
}

a.navbar-brand:hover {
  color: #f0f0f0;
}

/* .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #0077D4;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #0077D4;
} */

/* .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #248ec2 !important;
} */

.navbar .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #0077D4;
    border-radius: 0px;
    border-bottom: 1px solid #0077D4;
}

.btn-primary {
    color: #ffffff;
    background-color: #ED1951;
    border-color: #ED1951;
}

/* .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background-color: #ED1951;
} */

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-color: #248ec2;
    border-color: #347DBE;
}

.printTitle {
    color: #015CAE !important;
}

body.print h1 {color: #015CAE !important; font-size:28px !important;}
body.print h2 {color: #595959 !important; font-size:20px !important;}
body.print h3 {color: #E50E51 !important; font-size:14px !important;}
body.print h4 {color: #679DCE !important; font-size:14px; font-style: italic !important;}

.anchorjs-link:hover {
    color: #216f9b;
}

div.sidebarTitle {
    color: #015CAE;
}

li.sidebarTitle {
  margin-top:20px;
    font-weight:normal;
    font-size:130%;
    color: #ED1951;
    margin-bottom:10px;
    margin-left: 5px;

}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #015CAE;
}

.navbar-inverse .navbar-toggle {
    border-color: #015CAE;
}







body {
    font-size: 16px;
    font-family: "Roboto", system-ui, -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.h1, h1 {
    color: #323232;
    font-family: Roboto;
    font-size: 50px;
    font-weight: 300;
    line-height: 54px;
}
.col-md-12 .post-content h1 {
    color: #0077D4;
    margin-top: 110px;
    margin-bottom: 45px;
}
@media (max-width: 991px) {
    .layout-basic .post-content h1 {
        font-size: 35px;
        line-height: 38px;
        margin-bottom: 40px;
    }
}

.h2, h2 {
    color: #1B1B1B;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.6px;
    line-height: 33px;
}

h3, .h3 {
    color: #0077D4;
    font-family: Roboto;
    font-size: 31px;
    font-weight: 300;
    line-height: 54px;
    /* text-align: center; */
    /* margin-top: 150px; */
    /* margin-bottom: 100px; */
}

h4, .h4 {
    color: #0077D4;
    font-family: Roboto;
    font-size: 31px;
    font-weight: 300;
    line-height: 54px;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 100px;
    font-style: normal;
}

h5, .h5 {
    padding-top: 0px !important;
    margin-top: 10px !important;
    margin-bottom: 10px;
    font-size: 16px !important;
    font-weight: 600;
}

.toplogo {
    width: 155px; height: 53px; margin-top: 70px; margin-bottom: 11px
}
@media (max-width: 767px) {
    .toplogo {
        margin-left: 12px;
    }
}


#toc {
    margin-bottom: 40px;
}

.post-content {
    /* max-width: 736px; */

    color: #1B1B1B;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0.6px;
    line-height: 33px;
}
.post-content p:first-child,
.post-content h1:first-child,
.post-content h2:first-child,
.post-content h3:first-child,
.post-content h4:first-child {
    margin-top: 0px;
}

.post-content p > img {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: auto;
    display: block;
}

p {
    margin: 0 0 40px;
}
li p {
    margin: 0 0 10px;
}


.panel-heading .fa.text-primary {
    color: #ED1951;
}

.btn.btn-primary {
    background-color: #ED1951;
    border-color: #ED1951;
}

table {
    font-size: 15px;
}

table strong {
    font-weight: 600;
}

nav.navbar {
    background-color: transparent;
    border-color: transparent;
}

.post-content table > tbody > tr > td:first-child {
    min-width: 160px;
}

/* .nav li a {
    font-size: 14px;
    padding: 10px 10px;
    background-color: #f1f1f1;
    border-radius: 6px;
    margin-bottom: 4px;
} */

.nav > li.active > a {
    background-color: transparent !important;
    border-bottom: 1px #0077D4;
}

/* li.active > a {
    background-color: #888;
} */

/* .navbar-header {
    padding-left: 10px;
} */

/* .section-link a {
    height: 35px;
} */

#main {
    margin-top: 45px;
}

.guidelines-nav {
    position: absolute;
    top: 0px;
    right: 0px;
}

#header-background-image-container {
    position: absolute;
    width: 100%;
    height: 766px;
}

@media (max-width: 991px) {
    .nav.navbar-nav {
        display: none !important;
    }
    .guidelines-menu-toggler {
        display: block !important;
    }
}

#header-background-image {
    margin-left: auto;
    margin-right: auto;
    width: 100%; /* 1366px; */
    height: 100%;
    background-position: center;
    background-size: cover;
}

.toc-panel {
    display: none; /* initially */
    position: absolute;
    z-index: 999;
    width: 1110px;
    height: 422px;
    background-color: white;
    -webkit-box-shadow: 0px 30px 70px -22px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 30px 70px -22px rgba(0,0,0,0.75);
    box-shadow: 0px 30px 70px -22px rgba(0,0,0,0.75);
}

.toc-section {
    display: none; /* initially */
    width: 100%;
    height: 100%;
    padding: 84px 20px 20px 60px;
}

.toc-section-title {
    position: relative;
    display: inline-block;
    width: 28%;
    color: #0077D4;
    font-family: Roboto;
    font-size: 27px;
    font-weight: 300;
    line-height: 31px;
}

.toc-section-overview {
    position: absolute;
    left: 55px;
    bottom: 55px;
    border: 1px solid #0077D4;

    color: #0077D4;
    font-family: Roboto;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 2.2px;
    line-height: 13px;
    padding: 29px 53px 29px 53px;
}
.toc-section-overview:hover {
    text-decoration: none;
}

.toc-section ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    float: right;
    /* right: 0px;
    top: 0px; */
    width: 580px;
    height: 100%;
    padding-left: 0px;
    /* padding-top: 84px;
    padding-right: 25px; */
}

.toc-section ul li {
    display: block;
    /*position: inline;*/
    width: 247px;
    height: 100px;
    background-color: white;
    border-top: 1px solid #CCCACA;
    padding: 13px;
    cursor: pointer;
}

.toc-section ul li span.step {
    color: #0077D4;
    font-family: Roboto;
    font-size: 16px;
    line-height: 21px;
    float: left;
    height: 100%;
    margin-right: 10px;
}

.toc-section ul li.active {
    background-color: #F8F8F8;
}

.toc-section ul li a {
    color: black;
    
    font-family: Roboto;
    font-size: 15px;
    letter-spacing: 0.25px;
    line-height: 20px;
}

.toc-section ul li:hover {
    background-color: #F0F0F0;
    text-decoration: none;
}

.toc-section ul li a:hover {
    text-decoration: none;
}


.post-header.post-header-with-background {
    height: 700px;
}

.post-title-step {
    height: 54px;
    width: 98px;
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 38px;
    line-height: 54px;
}

.post-title-section {
    height: 13px;
    color: #4A4A4A;
    font-family: Roboto;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 5.93px;
    line-height: 13px;
    text-transform: uppercase;
}
.post-header.post-header-with-background .post-title-section {
    color: rgba(255, 255, 255, 0.6); /*#4299FF;*/
}

.post-title-main {
    /* width: 1075px; */
    color: #0077D4;
    font-family: Roboto;
    font-size: 85px;
    font-weight: 300;
    line-height: 95px;
}
.layout-advanced .post-title-main {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 287px;
}
@media (max-width: 991px) {
    .post-title-main {
        hyphens: auto;
        -ms-hyphens: auto;
        -webkit-hyphens: auto;
        font-size: 45px;
        line-height: 50px;
    }
    .layout-basic .post-title-main {
        font-size: 70px;
        font-weight: 300;
        line-height: 74px;
    }
    .layout-advanced .post-title-main {
        height: 300px;
        -webkit-line-clamp: 6;
    }
}

.post-header.post-header-with-background .post-title-main {
    color: #FFFFFF;
}

.summary {
    max-width: 840px;
    color: #4A4A4A;
    font-family: Roboto;
    font-size: 17px;
    font-weight: 300;
    letter-spacing: 0.21px;
    line-height: 27px;
    margin-top: 25px;
    margin-bottom: 25px;
}
.summary.post-header-with-background {
    max-width: 100%;
    color: #323232;
    font-family: Roboto;
    font-size: 21px;
    font-weight: 400;
    line-height: 41px;
    margin-top: 0px;
    margin-bottom: 90px;
}

.next-step {
    margin: 60px 0 16px 0;
    text-align: right;
    max-height: 100px;
}
.next-step-text {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.next-step-btn {
    display: inline-block;
    background-color: #3F3F3F;
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 2.2px;
    line-height: 13px;
    text-transform: uppercase;
    padding-left: 65px;
    padding-right: 65px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 80px;
    margin-top: 30px;
}
.post-header-with-background .next-step-btn {
    background-color: transparent;
    text-align: left;
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 19.5px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 22px;
    text-transform: none;
    width: 240px;
    /* height: 44px; */
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
}
.post-header-with-background .next-step-label {
    position: absolute;
    transform: translateY(-16px);
    height: 13px;
    width: 55px;
    color: #FFEF23;
    font-family: Roboto;
    font-size: 8.5px;
    font-weight: bold;
    letter-spacing: 4.58px;
    line-height: 10px;
    text-align: left;
    text-transform: uppercase;
}
.post-header-with-background .next-step-btn span.next-step-number {
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 17.5px;
    font-weight: normal;
    line-height: 24px;
    float: left;
    height: 100px;
}

.next-step-btn:hover {
    color: white;
    text-decoration: none;
}

.layout-basic #main .row:first-child {
    padding-bottom: 185px;
}

.scroll-arrow {
    transform: rotate(-90deg) translateY(32px);
    transform-origin: 100% 100%;
    text-align: right;
    margin-bottom: -11px;
}
@media (max-width: 767px) {
    .scroll-arrow {
        display: none;
    }
}
.scroll-arrow-label {
    display: inline-block;

    color: #0077D4;
    font-family: Roboto;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 11px;
    text-transform: uppercase;
}

.scroll-widget {
    position: absolute;
    cursor: pointer;
    right: 0px;
    height: 123px;
    width: 278px;
    background-color: #F9F9F9;
    box-shadow: 0 22px 44px 0;
}

.scroll-widget-label {
    position: absolute;
    top: 59px;
    left: 60px;
    color: #0077D4;
    font-family: Roboto;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 11px;
    text-transform: uppercase;
}

.scroll-widget-gauge {
    position: absolute;
    display: block;
    top: 24px;
    left: 150px;
    width: 80px;
    height: 80px;
    padding: 10px;
}

.scroll-widget-chevron {
    position: absolute;
    display: block;
    top: 56px;
    left: 182px;
    color: #0077D4;
    font-size: 16px;
    line-height: 1;
}

.gauge-container > .gauge > .dial {
    stroke: #eee;
    stroke-width: 4;
    fill: rgba(0,0,0,0);
}
.gauge-container > .gauge > .value {
    stroke: #096fc0;
    stroke-width: 4;
    fill: rgba(0,0,0,0);
}
.gauge-container > .gauge > .value-text {
    fill: #096fc0;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1em;
}

.scroll-widget-line {
    position: fixed;
    z-index: 9999;
    display: none;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 4px;
    background-color: white;
}
.scroll-widget-line-value {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0%;
    height: 100%;
    background-color: #096fc0;
}

@media (max-width: 992px) {
    .post-content p {
        font-size: 18px;
        font-weight: 300;
        letter-spacing: 0.54px;
        line-height: 30px;
        margin: 0 0 30px;
    }
}
@media (min-width: 993px) {
    .col-md-8 .post-content h1 {
        position: absolute;
        margin-top: 0px;
        padding-top: 0px;
        left: 0px;
        display: block;
        max-width: 300px;
        transform: translate(-310px);
    }
}
@media (min-width: 1200px) {
    .col-md-8 .post-content h1 {
        max-width: 350px;
        transform: translate(-376px);
    }
}

.two-columns {
    margin: 45px 0px 40px;
    column-gap:  77px;
}
@media (min-width: 993px) {
    .two-columns {
        column-count: 2;
    }
}
.two-columns p:first-child,
.two-columns h1:first-child,
.two-columns h2:first-child,
.two-columns h3:first-child,
.two-columns h4:first-child {
    margin-top: 0px;
}

.two-columns h2 {
    font-family: Roboto;
    font-weight: 300;
    font-size: 28px;
    line-height: 33px;
    margin-top: 33px;
    margin-bottom: 0px;
}
.two-columns h3 {
    font-family: Roboto;
    font-weight: 300;
    font-size: 18px;
    line-height: 33px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.two-columns p {
    font-size: 18px;
    line-height: 30px;
    margin-top: 30px;
    margin-bottom: 0px;
}

footer {
    position: relative;
    color: #A4A4A4;
    font-family: Roboto;
    font-size: 11px;
    letter-spacing: 1.43px;
    line-height: 13px;
    background-color: #353535;
    color: #A4A4A4;
    padding: 40px;
}

.footer-title {
    color: #0077D4;
    font-family: Roboto;
    font-size: 27px;
    font-weight: 300;
    line-height: 31px;
    margin-bottom: 38px;
}

footer ul {
    margin-left: 0px;
    margin-bottom: 60px;
    padding-left: 0px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 2.8px;
    line-height: 39px;
}
footer li.section-link {
    text-transform: uppercase;
    list-style-type: none;
}
footer li.section-link a:hover {
    text-decoration: none;
    color: inherit;
}

.footer-text {
    margin-bottom: 40px;
}

.footer-sections {
    text-transform: uppercase;
}

.footer-partners {
    font-size: 9px;
    text-transform: uppercase;
}
.footer-partners img {
    max-width: 100%;
}

@media (min-width: 992px) {
    footer {
        min-height: 484px;
        padding: 70px;
    }
    .footer-title {
        position: absolute;
        max-width: 28%
    }
    .footer-sections {
        position: absolute;
        max-width: 72%;
        right: 0px;
        margin-right: 70px;
    }
    .footer-sections p {
        display: none;
    }
    footer li.section-link {
        float: left;
        font-size: 10px;
        margin-left: 15px
    }
    .footer-text {
        position: absolute;
        max-width: 28%;
        bottom: 0px;
        margin-bottom: 50px;
    }
    .footer-partners {
        position: absolute;
        max-width: 72%;
        right: 0px;
        bottom: 0px;
        margin-bottom: 50px;
        margin-right: 70px;
    }
}

.linkbox {
    position: relative;
    padding-left: 85px;
    padding-right: 85px;
    padding-top: 46px;
    padding-bottom: 46px;
    margin-bottom: 82px;
    font-family: Roboto;
    background-position: center;
    background-size: cover;
}
.linkbox[onclick] {
    cursor: pointer;
}

.linkbox-wrapper {
    margin-bottom: 82px;
}
.linkbox-wrapper .linkbox {
    margin-top: 0px;
    margin-bottom: 0px;
}
.linkbox-img {
    height: 375px;
    background-position: center;
    background-size: cover;
}
@media (max-width: 992px) {
    .linkbox-img {
        margin-left: -30px;
        margin-right: -30px;
    }
}
@media (min-width: 993px) {
    .linkbox-wrapper {
        display: table;
    }
    .linkbox-img {
        display: table-cell;
        width: 50%;
        height: 100%;
    }
    .linkbox-wrapper .linkbox {
        display: table-cell;
        width: 50%;
        height: 100%;
    }
}

.linkbox .linkbox-field-step {
    font-size: 35px;
    line-height: 54px;
    color: white;
    margin-bottom: 61px;
}
.linkbox .linkbox-field-eye {
    color: rgba(255,255,255,0.6);
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 5.93px;
    line-height: 13px;
    text-transform: uppercase;
    margin-bottom: 8px;
}
.linkbox .linkbox-field-title {
    color: #FFFFFF;
    font-size: 51px;
    font-weight: 300;
    line-height: 54px;
    margin-bottom: 26px;
}
.linkbox.linkbox-max-text-width .linkbox-field-title {
    max-width: 600px;
}
.linkbox .linkbox-field-subtitle {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.3px;
    line-height: 27px;
    /* margin-bottom: 54px; */
}

.linkbox.linkbox-max-text-width .linkbox-field-subtitle {
    max-width: 600px;
}
.linkbox .linkbox-field-subtitle p:last-child {
    margin-bottom: 0px;
}

.linkbox img {
    margin: 0;
}
.linkbox .linkbox-btn-plus {
    margin-top: 54px;
}
.linkbox .linkbox-btn-arrow {
    position: absolute;
    top: calc(50% - 57px);
    right: 85px;
}
.linkbox .linkbox-btn-label {
    color: #FFFFFF;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 2.2px;
    line-height: 13px;
    margin: 0px 0px 0px 6px;
    text-transform: uppercase;
}

.linkbox.linkbox-gotoguidelines .next-step-btn {
    background-color: #4299FF;
    margin-bottom: 0px;
}
.linkbox.linkbox-gotoguidelines .linkbox-gotoguidelines-arrow {
    position: absolute;
    right: 85px;
    bottom: 60px;
}

@media (min-width: 993px) {
    .col-md-8 .linkbox {
        width: 940px;
        float: right;
    }
}
@media (min-width: 1200px) {
    .col-md-8 .linkbox {
        width: 1110px;
    }
}
@media (max-width: 992px) {
    .linkbox {
        margin-left : -30px;
        margin-right : -30px;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 64px;
        padding-bottom: 64px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .linkbox .linkbox-field-step {
        margin-bottom: 10px;
    }
    .linkbox .linkbox-field-title {
        font-size: 34px;
        font-weight: 300;
        line-height: 40px;
        /* margin-bottom: 70px; */
    }
    .linkbox .linkbox-field-subtitle {
        font-size: 16px;
        font-weight: 300;
        letter-spacing: 0.3px;
        line-height: 27px;
        column-count: 1 !important;
    }
    .linkbox .linkbox-btn-arrow {
        top: calc(50% - 32px);
        right: 30px;
        height: 64px;
    }
    .linkbox.linkbox-gotoguidelines .next-step-btn,
    .linkbox.linkbox-gotoguidelines .linkbox-btn {
        width: 100%;
        text-align: center;
    }
    .linkbox.linkbox-gotoguidelines .linkbox-gotoguidelines-arrow {
        position: static;
    }
}

@media (min-width: 993px) {
    .col-md-12 .linkbox.linkbox-half {
        float: left;
        width: calc(50% - 5px);
        margin-left: 10px;
    }
    .col-md-12 .linkbox.linkbox-half.linkbox-nomargin {
        margin-left: 0px;
    }
}

.linkbox.linkbox-vert {
    padding-top: 100px;
    padding-bottom: 100px;
}
.linkbox.linkbox-vert .linkbox-field-eye {
    color: rgba(0,0,0,0.6);
}

.resourcebox {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 40px;
    height: 115px;
    width: 350px;
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
    cursor: pointer;
}
@media (max-width: 1200px) {
    .resourcebox {
        width: 280px;
    }
}
@media (max-width: 650px) {
    .resourcebox {
        width: 100%;
        margin-top: 0px;
        margin-bottom: 0px;
    }
}

.resourcebox .resourcebox-icon {
    position: absolute;
    margin: 0;
    top: 37px;
    left: 26px;
    width: 37px;
    height: 37px;
}
.resourcebox .resourcebox-field-eye {
    position: absolute;
    top: 32px;
    left: 86px;
    width: 197px;
    height: 11px;
    color: #919090;
    font-family: Roboto;
    font-size: 9px;
    font-weight: bold;
    letter-spacing: 3.85px;
    line-height: 10px;
    text-transform: uppercase;
}
.resourcebox .resourcebox-field-title {
    position: absolute;
    top: 44px;
    left: 85px;
    width: 197px;
    height: 42px;
    color: #0077D4;
    font-family: Roboto;
    font-size: 17px;
    font-weight: 300;
    line-height: 19px;
}
.resourcebox .resourcebox-btn-plus {
    position: absolute;
    margin: 0;
    right: 17px;
    bottom: 17px;
    width: 20px;
    height: 20px;
}

.white {
    color: white;
}











.burger {
    height: 3em;
    width: 3em;
    position: relative;
    font-size: 12px;
    cursor: pointer;
    -webkit-transition: .2s all;
    -o-transition: .2s all;
    transition: .2s all;
    -webkit-tap-highlight-color: transparent;
}
.burger .burger-lines:after {
    left: 0;
    top: -1em;
}
.burger .burger-lines:before {
    left: 1em;
    top: 1em;
}
.burger:after {
    content: '';
    display: block;
    position: absolute;
    height: 150%;
    width: 150%;
    top: -25%;
    left: -25%;
}
.burger .burger-lines {
    top: 50%;
    margin-top: -0.125em; }
    .burger .burger-lines, .burger .burger-lines:after, .burger .burger-lines:before {
    pointer-events: none;
    display: block;
    content: '';
    width: 100%;
    border-radius: 0.25em;
    background-color: white;
    height: 0.25em;
    position: absolute;
    -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
            transform: rotate(0); }
.burger .burger-lines:after {
    left: 0;
    top: -1em;
}
.burger .burger-lines:before {
    left: 1em;
    top: 1em;
}

.burger {
    height: 3em;
    width: 3em;
    position: relative;
    font-size: 12px;
    cursor: pointer;
    -webkit-transition: .2s all;
    -o-transition: .2s all;
    transition: .2s all;
    -webkit-tap-highlight-color: transparent;
}
.burger .burger-lines:after {
    left: 0;
    top: -1em;
}
.burger .burger-lines:before {
    left: 1em;
    top: 1em;
}
.burger:after {
    content: '';
    display: block;
    position: absolute;
    height: 150%;
    width: 150%;
    top: -25%;
    left: -25%;
}
.burger .burger-lines {
    top: 50%;
    margin-top: -0.125em;
}
.burger .burger-lines, .burger .burger-lines:after, .burger .burger-lines:before {
    pointer-events: none;
    display: block;
    content: '';
    width: 100%;
    border-radius: 0.25em;
    background-color: white;
    height: 0.25em;
    position: absolute;
    -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
            transform: rotate(0);
}
.burger .burger-lines:after {
    left: 0;
    top: -1em;
}
.burger .burger-lines:before {
    left: 1em;
    top: 1em;
}
.burger.burger-squeeze .burger-lines, .burger.burger-squeeze .burger-lines:after, .burger.burger-squeeze .burger-lines:before {
    -webkit-transition: .2s top .2s, .1s left, .2s transform, .4s background-color .2s;
    -o-transition: .2s top .2s, .1s left, .2s transform, .4s background-color .2s;
    transition: .2s top .2s, .1s left, .2s transform, .4s background-color .2s; 
}
.burger.burger-squeeze .burger-lines:after, .burger.burger-squeeze .burger-lines:before {
    width: 2em;
}
.burger.burger-squeeze.open .burger-lines, .burger.burger-squeeze.open .burger-lines:after, .burger.burger-squeeze.open .burger-lines:before {
-webkit-transition: .2s background-color, .2s top, .2s left, .2s transform .15s;
-o-transition: .2s background-color, .2s top, .2s left, .2s transform .15s;
transition: .2s background-color, .2s top, .2s left, .2s transform .15s;
}
.burger.burger-squeeze.open .burger-lines {
    background-color: transparent;
}
.burger.burger-squeeze.open .burger-lines:before, .burger.burger-squeeze.open .burger-lines:after {
    left: 0.5em;
    top: 0px;
}
.burger.burger-squeeze.open .burger-lines:before {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
}
.burger.burger-squeeze.open .burger-lines:after {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}

.guidelines-menu-toggler {
    position: absolute;
    display: none;
    right: 40px;
    top: 70px;
}


.mobile-menu-wrapper {
    display: none;
    position: absolute;
    width: 100%;
    height: calc(100% - 135px);
    z-index: 99999;
    line-height: 50px;
    top: 135px;
}

ul.mobile-menu {
    position: relative;
    list-style-type: none;
    padding: 0;
    top: 50%;
    transform: translateY(-70%);
}
ul.mobile-menu li a {
    color: #0077D4;
    font-size: 45px;
    line-height: 50px;
    font-weight: 300;
}
.mobile-menu-lang {
    position: absolute;
    bottom: 20px;
    color: #0077D4;
    font-size: 18px;
    font-weight: 300;
    text-transform: uppercase;
}

.mobile-menu-wrapper a:hover {
    color: #0077D4;
    text-decoration: none;
}

.burger .burger-lines,
.burger .burger-lines:after,
.burger .burger-lines:before { background-color: #0077D4; }

.mobile-menu-wrapper.inverted ul.mobile-menu li a,
.mobile-menu-wrapper.inverted .mobile-menu-lang,
.mobile-menu-wrapper.inverted .mobile-menu-wrapper a:hover {
    color: white;
}

.burger.inverted .burger-lines,
.burger.inverted .burger-lines:after,
.burger.inverted .burger-lines:before { background-color: white; }



.cs-slideshow-slide {
    display: none;
}

.cs-slideshow-wrapper {
    position: relative;
    top: 44px;
    margin-top: 44px;
    margin-bottom: 88px;
}

.cs-slideshow-content-casestudy {
    color: #90C3FF;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 5.93px;
    line-height: 13px;
    margin-bottom: 8px;
    text-transform: uppercase;
}
.cs-slideshow-img-wrapper {
    height: 665px;
    width: 906px;
    z-index: 1;
    background-color: #0077D4;
    box-shadow: 0 33px 44px 0 rgba(0,0,0,0.28);
    float: left;
    position: absolute;
    left: -806px;
    top: -44px;
    overflow: hidden;
}
.cs-slideshow-img {
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-clip: content-box;
    padding-top: 0%;
}
.cs-slideshow-content-wrapper {
    min-height: 700px;
    padding-left: 380px;
    margin-left: -205px;
    padding-right: 62px;
    margin-right: -40px;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #4299FF;
    overflow: hidden;
}

.cs-slideshow-content-title {
    font-size: 41px;
    font-weight: 300;
    line-height: 54px;
    margin-bottom: 50px;
    color: white;
    overflow: hidden;
}

.cs-slideshow-content-text {
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.3px;
    color: white;
    margin-bottom: 50px;
}

.cs-slideshow-content-link-label {
    color: #00477F;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 2.5px;
    line-height: 11px;
    text-transform: uppercase;
    margin-bottom: 6px
}

.cs-slideshow-content-link {
    color: #FFFFFF;
    font-size: 23px;
    font-weight: 300;
    letter-spacing: 0.38px;
    line-height: 27px;
}

.cs-slideshow-content-link:hover,
.cs-slideshow-content-link:after {
    color: white;
    text-decoration: none;
    content: none !important;
}

.cs-slideshow-nav {
    position: relative;
    left: -205px
}
.cs-slideshow-nav-label-sep {
    width: 73px;
    height: 1px;
    background-color: #0077D4;
    display: inline-block;
    margin-left: 2px;
    margin-right: 4px;
}
.cs-slideshow-nav-label-index {
    display: inline;
    position: relative;
    top: 4px;
    color: #0077D4;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 3.75px;
    line-height: 18px
}
.cs-slideshow-nav-label-count {
    position: relative;
    top: 2px;
    display: inline;
    color: #0077D4;
    font-size: 10px;
    letter-spacing: 2.5px;
    line-height: 11px;
    margin-right: 63px;
}

@media (max-width: 992px) {
    .cs-slideshow-img-wrapper {
        height: 372px;
        width: 100%;
        left: -60px;
        top: -332px;
    }
    .cs-slideshow-content-wrapper {
        padding-left: 70px;
        margin-left: -30px;
        padding-right: 70px;
        margin-right: -30px;
        padding-top: 90px;
        padding-bottom: 40px;
    }
    .cs-slideshow-wrapper {
        top: 320px;
        margin-bottom: 364px;
    }
    .cs-slideshow-nav {
        left: 0px
    }
}





.maskDown {
    animation-name: maskDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-timing-function: ease-out;
    -webkit-animation-timing-function: ease-out;
}
@-webkit-keyframes maskDown {
    from {
        padding-top: 0;
    }
    to {
        padding-top: 665px;
    }
}
@keyframes maskDown {
    from {
        padding-top: 0%;
    }
    to {
        padding-top: 665px;
    }
}

.maskUp {
    animation-name: maskUp;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-timing-function: ease-out;
    -webkit-animation-timing-function: ease-out;
}
@-webkit-keyframes maskUp {
    from {
        padding-bottom: 0;
    }
    to {
        padding-bottom: 665px;
    }
}
@keyframes maskUp {
    from {
        padding-bottom: 0;
    }
    to {
        padding-bottom: 665px;
    }
}






.scaleDown {
    animation-name: scaleDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-timing-function: ease-out;
    -webkit-animation-timing-function: ease-out;
}
@-webkit-keyframes scaleDown {
    from {
        transform: scale(1.1);
    }
    to {
        transform: scale(1);
    }
}
@keyframes scaleDown {
    from {
        transform: scale(1.1);
    }
    to {
        transform: scale(1);
    }
}






.in-partnership-with-box {
    position: absolute;
    top: -325px;
    right: 25px;
    text-align: right;
    text-transform: uppercase;
    color: #4A4A4A;
    font-family: Roboto;
    font-size: 9px;
    font-weight: bold;
    letter-spacing: 2.4px;
    line-height: 10px;
}
@media (max-width: 767px) {
    .in-partnership-with-box {
        top: -180px;
        right: 0px;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        
        text-align: left;
    }
    .layout-basic .next-step-btn {
        width: 100%;
        text-align: center;
    }
    /* .in-partnership-with-box img {
        width: 100%;
    } */
}