{% assign stringsFile = "strings_" | append: page.lang %}
{% assign strings = site.data[stringsFile] %}

{% assign slideshowId = include.id %}

{% for i in (1..100) %}
	{% assign my_variable = "slide" | append: {{i}} | append: "_title" %}
	{% if include[my_variable] != null %}
		{% assign slideMax = i %}
		{% assign slide_title = "slide" | append: {{i}} | append: "_title" %}
		{% assign slide_title = include[slide_title] %}
		{% assign slide_text = "slide" | append: {{i}} | append: "_text" %}
		{% assign slide_text = include[slide_text] | newline_to_br %}
		{% assign slide_link = "slide" | append: {{i}} | append: "_link" %}
		{% assign slide_link = include[slide_link] %}
		{% assign slide_image = "slide" | append: {{i}} | append: "_image" %}
		{% assign slide_image = include[slide_image] %}
<div class="cs-slideshow-slide" data-parent="{{slideshowId}}" data-index="{{slideMax}}">
<p class="cs-slideshow-slide-title">{{slide_title}}</p>
<p class="cs-slideshow-slide-text">{{slide_text}}</p>
<p class="cs-slideshow-slide-link">{{slide_link}}</p>
<p class="cs-slideshow-slide-image">{{slide_image}}</p>
</div>
	{% else %}
		{% break %}	
	{% endif %}
{% endfor %}

<script>
	var {{slideshowId}} = new CaseStudiesSlideShow("{{slideshowId}}");
	{{slideshowId}}.lastSlide = {{slideMax}};
</script>

<div id="{{slideshowId}}" class="cs-slideshow-wrapper">
	<div class="cs-slideshow-img-wrapper">
		<div class="cs-slideshow-img default" style="background-image: url('images/{{slide_image}}');"></div>
		<div class="cs-slideshow-img helper" style="display: none;"></div>
	</div>

	<div class="cs-slideshow-content-wrapper">
		<div class="cs-slideshow-content">
			<div class="cs-slideshow-content-casestudy"></div>
			<div class="cs-slideshow-content-title"></div>
			<div class="cs-slideshow-content-text"></div>
			<div class="cs-slideshow-content-link-label">{{strings.discover_more_text}}</div>
			<a class="cs-slideshow-content-link" target="_blank"></a>
		</div>
	</div>

	{% if slideMax > 1 %}
	<div class="cs-slideshow-nav">
		<div class="cs-slideshow-nav-label-index">01</div>
		<div class="cs-slideshow-nav-label-sep"></div>
		<div class="cs-slideshow-nav-label-count">03</div>
		<img src="images/arrow-previous.png" onclick="{{slideshowId}}.previousSlide();" />
		<img src="images/arrow-next.png" onclick="{{slideshowId}}.nextSlide();" />
	</div>
	{% endif %}

	<script>
		{{slideshowId}}.update();
	</script>

</div>