{% assign stringsFile = "strings_" | append: page.lang %}
{% assign strings = site.data[stringsFile] %}

{% assign bg_color = "white" %}
{% if include.background-color == "blue" %}
{% assign bg_color = "#4299FF" %}
{% elsif include.background-color == "pink" %}
{% assign bg_color = "#F0297C" %}
{% elsif include.background-color %}
{% assign bg_color = include.background-color %}
{% endif %}

{% assign bg_image = "none" %}
{% if include.background-image %}
{% assign bg_image = include.background-image %}
{% endif %}

{% assign classes = "linkbox" %}
{% if include.inline == 1 %}
{% assign classes = "linkbox linkbox-half linkbox-nomargin" %}
{% elsif include.inline > 1 %}
{% assign classes = "linkbox linkbox-half" %}
{% endif %}

{% if include.step == null %}
{% assign classes = classes | append: " linkbox-vert" %}
{% endif %}

{% if include.columns == null %}
{% assign classes = classes | append: " linkbox-max-text-width" %}
{% assign column_count = 1 %}
{% else %}
{% assign column_count = include.columns %}
{% endif %}

{% assign clickJs = "" %}
{% if include.link != null %}
{% assign clickJs = "window.location.href='"" | append: include.link | append: "'" %}
{% endif %}



{% if include.image %}
<div class="linkbox-wrapper">
	<div class="linkbox-img" style="background-image: url('images/{{include.image}}');"></div>
{% endif %}

{% assign inlineCss = "background-color: "" | append: bg_color | append: "; " %}
{% if bg_image != "none" %}
{% assign inlineCss = inlineCss | append: "background-image: url('images/" | append: bg_image | append: "'); " %}
{% endif %}
{% if include.contiguous == true %}
{% assign inlineCss = inlineCss | append: "padding-top: 0px; margin-top: -90px; " %}
{% endif %}

{% if clickJs != "" %}
<div class="{{classes}}" style="{{inlineCss}}" onclick="{{clickJs}}">
{% else %}
<div class="{{classes}}" style="{{inlineCss}}" >
{% endif %}
	{% if include.step %}
	<div class="linkbox-field-step">{{include.step}}.</div>
	{% endif %}
	{% if include.eye %}
	<div class="linkbox-field-eye">{{include.eye}}</div>
	{% endif %}
	{% if include.title %}
	<div class="linkbox-field-title">{{include.title}}</div>
	{% endif %}
	{% if include.subtitle %}
<div class="linkbox-field-subtitle" markdown="1" style="column-count: {{column_count}};">
{{include.subtitle}}
</div>
	{% endif %}
	
	{% if include.link != null %}
	{% if include.button-type == "arrow" %}
	<img src="images/bigarrow.png" class="linkbox-btn linkbox-btn-arrow" />
	{% else %}
	<div class="linkbox-btn linkbox-btn-plus">
		<img src="images/discover-plus-btn.png" />
		<span class="linkbox-btn-label">{{strings.discover_more_text}}</span>
	</div>
	{% endif %}
	{% endif %}
</div>

{% if include.image %}
</div>
{% endif %}
