{% assign stringsFile = "strings_" | append: page.lang %}
{% assign strings = site.data[stringsFile] %}

{% assign bg_color = "white" %}
{% if include.background-color == "blue" %}
{% assign bg_color = "#4299FF" %}
{% elsif include.background-color == "pink" %}
{% assign bg_color = "#F0297C" %}
{% elsif include.background-color %}
{% assign bg_color = include.background-color %}
{% endif %}

{% assign bg_image = "none" %}
{% if include.background-image %}
{% assign bg_image = include.background-image %}
{% endif %}

{% assign classes = "linkbox" %}
{% if include.inline == 1 %}
{% assign classes = "linkbox linkbox-half linkbox-nomargin" %}
{% elsif include.inline > 1 %}
{% assign classes = "linkbox linkbox-half" %}
{% endif %}

{% if include.step == null %}
{% assign classes = classes | append: " linkbox-vert" %}
{% endif %}



{% if include.image %}
<div class="linkbox-wrapper">
	<div class="linkbox-img" style="background-image: url('images/{{include.image}}');"></div>
{% endif %}

{% if bg_image != "none" %}
<div class="{{classes}}" style="background-color: {{bg_color}}; background-image: url('images/{{bg_image}}');" onclick="window.location.href='{{ include.link }}'">
{% else %}
<div class="{{classes}}" style="background-color: {{bg_color}};" onclick="window.location.href='{{ include.link }}'">
{% endif %}
	{% if include.step %}
	<div class="linkbox-field-step">{{include.step}}.</div>
	{% endif %}
	{% if include.eye %}
	<div class="linkbox-field-eye">{{include.eye}}</div>
	{% endif %}
	{% if include.title %}
	<div class="linkbox-field-title">{{include.title}}</div>
	{% endif %}
	{% if include.subtitle %}
	<div class="linkbox-field-subtitle">{{include.subtitle}}</div>
	{% endif %}
	
	{% if include.button-type == "arrow" %}
	<img src="images/bigarrow.png" class="linkbox-btn linkbox-btn-arrow" />
	{% else %}
	<div class="linkbox-btn linkbox-btn-plus">
		<img src="images/discover-plus-btn.png" />
		<span class="linkbox-btn-label">{{strings.discover_more_text}}</span>
	</div>
	{% endif %}
</div>

{% if include.image %}
</div>
{% endif %}